a:link {color:#233341;}
a:visited {color:#233341;}
a:hover {color:#233341;}
a:active {color:#233341;}
.Wp-Body-Text-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Contact-Details-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Fine-Print-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
a.Wp-Fine-Print-P-H:link {color:#344b5f;}
a.Wp-Fine-Print-P-H:visited {color:#344b5f;}
a.Wp-Fine-Print-P-H:hover {color:#202d39;}
a.Wp-Fine-Print-P-H:active {color:#344b5f;}
.Wp-Heading-1-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Heading-2-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Heading-3-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:right; font-weight:400;
}
.Wp-Intro-Paragraph-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Links-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Normal-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Default-Paragraph-Font-C
{
    font-family:"Verdana", sans-serif; color:#ffffff;
}
.Wp-Placeholder-C
{
    font-family:"Verdana", sans-serif; color:#ffffff;
}